<%= simple_form_for [message.topic, message], remote: true do |f| %>
  <div class="view">
    <img src="/images/avatar_dummy.png" height="45" width="45" alt="">
  </div>

  <div class="description">
    <h6><%= current_user.siebel.full_name %></h6>

    <div class="wrapper">
      <%= f.input_field :text, as: :text, placeholder: 'Ваш комментарий', class: 'js-submit-by-hotkey', autocomplete: 'off' %>
      <button class="addfile"></button>
      <%= f.button :submit, 'Ответить', class: 'default-button-orange send' %>
    </div>
  </div>
<% end %>