<article class="comment-item media" id="comment-form">
  <a class="pull-left thumb-small avatar"><img src="/images/avatar_dummy.png" class="img-circle"></a>
  <section class="media-body">
    <%= simple_form_for [message.topic, message], html: { class: 'm-b-none' } do |f| %>
      <div class="input-group">
        <%= f.input_field :text, as: :string, placeholder: 'Введите ваш комментарий', class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.button :submit, 'ОТПРАВИТЬ', class: 'btn btn-primary' %>
        </span>
      </div>
      <div class="dropfile visible-lg m-t block">
        <small><i class="icon-cloud-upload"></i> Перетащите сюда файлы</small>
      </div>
    <% end %>
  </section>
</article>