---
http_interactions:
- request:
    method: get
    uri: http://sparkgatetest.interfax.ru/IfaxWebService/ifaxwebservice.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://interfax.ru/ifax\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://interfax.ru/ifax\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://interfax.ru/ifax\">\r\n
        \     <s:element name=\"Authmethod\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Login\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Password\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"AuthmethodResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"AuthmethodRes[...]
- request:
    method: post
    uri: http://sparkgatetest.interfax.ru/IfaxWebService/ifaxwebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://interfax.ru/ifax"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Authmethod><tns:Login>ds_gate</tns:Login><tns:Password>Vz3JW9h</tns:Password></tns:Authmethod></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://interfax.ru/ifax/Authmethod"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthmethodResponse
        xmlns="http://interfax.ru/ifax"><AuthmethodResult>True</AuthmethodResult></AuthmethodResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 24 Sep 2014 15:12:11 GMT
- request:
    method: post
    uri: http://sparkgatetest.interfax.ru/IfaxWebService/ifaxwebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://interfax.ru/ifax"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetEntrepreneurShortReport><tns:ogrnip>306770000348481</tns:ogrnip></tns:GetEntrepreneurShortReport></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://interfax.ru/ifax/GetEntrepreneurShortReport"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetEntrepreneurShortReportResponse
        xmlns="http://interfax.ru/ifax"><GetEntrepreneurShortReportResult>True</GetEntrepreneurShortReportResult><xmlData>&lt;?xml
        version="1.0" encoding="UTF-8"?&gt;&lt;Response&gt;&lt;Data&gt;&lt;Report&gt;&lt;SparkID&gt;34264016&lt;/SparkID&gt;&lt;Status
        IsActing="1" Text="Действующее" Code="24" /&gt;&lt;DateReg&gt;2006-08-22&lt;/DateReg&gt;&lt;FullNameRus&gt;Батурина
        Ольга Анатольевна&lt;/FullNameRus&gt;&lt;INN&gt;771607534337&lt;/INN&gt;&lt;OGRNIP&gt;306770000348481&lt;/OGRNIP&gt;&lt;OKPO&gt;0116133597&lt;/OKPO&gt;&lt;OKATO
        Code="45280565000" RegionName="Москва" RegionCode="45" [...]
- request:
    method: post
    uri: https://ccdemopim.sredda.ru:5443/authentication/user/login/
    body:
      encoding: UTF-8
      string: '{"login":"+77441111111","password":"fake password to test if login
        exists"}'
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"__type":"DataObjectNotFoundFault","ErrorMessage":"Can''t find user
        by login ''+77441111111''.","ServerStackTrace":"   at Dsrd.Uas.BusinessLogic.AuthenticationBll.User_Login(String
        login, String password)\u000d\u000a   at SyncInvokeUser_Login(Object , Object[]
        , Object[] )\u000d\u000a   at System.ServiceModel.Dispatcher.SyncMethodInvoker.Invoke(Object
        instance, Object[] inputs, Object[]& outputs)\u000d\u000a   at System.ServiceModel.Dispatcher.DispatchOperationRuntime.InvokeBegin(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.ImmutableDispatchRuntime.ProcessMessage5(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.ImmutableDispatchRuntime.ProcessMessage31(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.MessageRpc.Process(Boolean
        isOperationContextSet)","ObjectName":"User"}'
  recorded_at: Wed, 24 Sep 2014 15:12:22 GMT
- request:
    method: post
    uri: https://api.sredda.ru:4444/SMSGateway/sms
    body:
      encoding: UTF-8
      string: Text=%D0%94%D0%BB%D1%8F+%D0%B2%D1%85%D0%BE%D0%B4%D0%B0+%D0%BD%D0%B0+%D1%81%D0%B0%D0%B9%D1%82+%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D1%83%D0%B9%D1%82%D0%B5%0A%D0%BB%D0%BE%D0%B3%D0%B8%D0%BD%3A+%2B77441111111%0A%D0%BF%D0%B0%D1%80%D0%BE%D0%BB%D1%8C+768&ToPhoneNumber=%2B77441111111&WithVerificationCode=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Http.status:
      - '200'
      X-Mule-Session:
      - rO0ABXNyACNvcmcubXVsZS5zZXNzaW9uLkRlZmF1bHRNdWxlU2Vzc2lvbi7rdtEW7GGKAwAEWgAFdmFsaWRMAA1mbG93Q29uc3RydWN0dAAmTG9yZy9tdWxlL2FwaS9jb25zdHJ1Y3QvRmxvd0NvbnN0cnVjdDtMAAJpZHQAEkxqYXZhL2xhbmcvU3RyaW5nO0wAD3NlY3VyaXR5Q29udGV4dHQAJ0xvcmcvbXVsZS9hcGkvc2VjdXJpdHkvU2VjdXJpdHlDb250ZXh0O3hwAXB0ACQ3Y2M2MDBmMy00M2ZmLTExZTQtYmQwMi0wNTE0ODhlNTNiMGZwc3IAJWphdmEudXRpbC5Db2xsZWN0aW9ucyRTeW5jaHJvbml6ZWRNYXAbc/kJS0s5ewMAAkwAAW10AA9MamF2YS91dGlsL01hcDtMAAVtdXRleHQAEkxqYXZhL2xhbmcvT2JqZWN0O3hwc3IAJG9yZy5tdWxlLnV0aWwuQ2FzZUluc2Vuc2l0aXZlSGFzaE1hcJ3R2e9nRc4AAwAAeHB3DD9AAAAAAAAQAAAAAHhxAH4ACXh4
      X-Mule-Encoding:
      - UTF-8
    body:
      encoding: UTF-8
      string: '105065'
  recorded_at: Wed, 24 Sep 2014 15:12:30 GMT
- request:
    method: post
    uri: https://ccdemopim.sredda.ru:5443/authentication/user/
    body:
      encoding: UTF-8
      string: '{"Login":"+77441111111","Password":"180","FirstName":"Ольга","LastName":"Батурина","PatronymicName":"Анатольевна","Country":null,"Phone":"+77441111111","IsDisabled":true}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"FirstName":"Ольга","IsDisabled":true,"LastName":"Батурина","Login":"+77441111111","UserId":"UAS100173","UserNativeId":"1-1WMYU0","UserSysName":"siebel"}'
  recorded_at: Thu, 25 Sep 2014 12:12:14 GMT
- request:
    method: post
    uri: https://sns.sredda.ru:4443/socialNetwork2/entity
    body:
      encoding: UTF-8
      string: '{"__type":"Person.SaveData","ComplexId":{"EntityType":"Person","SystemId":"1-1WMYU0","SystemName":"siebel"},"Content":null,"Name":"Не
        определено","IsVip":false,"VipText":"","Categories":[]}'
    headers:
      User-Id:
      - 1-4DFE
      User-Sysname:
      - siebel
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Sep 2014 12:12:31 GMT
- request:
    method: post
    uri: https://siebel.dasreda.ru:9443/eai_anon_rus/start.swe?SWEExtCmd=Execute&SWEExtSource=SecureWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://siebel.com/CustomUI" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.siebel.com/xml/SBT%20Account"><env:Header><wsse:Security xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext">
                    <wsse:UsernameToken xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                      <wsse:Username>Club</wsse:Username>
                      <wsse:Password Type="wsse:PasswordText">Xxrhvdlz</wsse:Password>
                    </wsse:UsernameToken>
                  </wsse:Security></env:Header><env:Body><tns:AccountSync_Input><tns:ListOfSbtAccount><tns:Account><tns:IntegrationId>DC1411647154221</tns:IntegrationId><tns:Type>Юридическое лицо</tns:Type><tns:SBTName>Батурина Ольга Анатольевна</tns:SBTName><tns:SBTINN>771607534337</tns:SBTINN><tns:SBTOGRN>306770000348481</tns:SBTOGRN></tns:Account></tns:ListOfSbtAccount></tns:AccountSync_Input></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"document/http://siebel.com/CustomUI:AccountSync"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      -Charset:
      - UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SOAP-ENV:Body><ns:AccountSync_Output
        xmlns:ns="http://siebel.com/CustomUI"><ns:Error_spcCode></ns:Error_spcCode><ns:Error_spcMessage></ns:Error_spcMessage><ns:Result>1</ns:Result></ns:AccountSync_Output></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 25 Sep 2014 12:12:42 GMT
- request:
    method: get
    uri: https://sns.sredda.ru:4443/socialNetwork2/entity/?systemId=1-1WMYUL&systemName=siebel&type=Company
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Id:
      - 1-1WMYU0
      User-Sysname:
      - siebel
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"__type":"DataObjectNotFoundFault","ErrorMessage":"Data object not
        found.","ServerStackTrace":"   at Dsrd.Sns.SocialNetwork.Service.Entity_Get(String
        entityType, String systemName, String systemId)\u000d\u000a   at SyncInvokeEntity_Get(Object
        , Object[] , Object[] )\u000d\u000a   at System.ServiceModel.Dispatcher.SyncMethodInvoker.Invoke(Object
        instance, Object[] inputs, Object[]& outputs)\u000d\u000a   at System.ServiceModel.Dispatcher.DispatchOperationRuntime.InvokeBegin(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.ImmutableDispatchRuntime.ProcessMessage5(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.ImmutableDispatchRuntime.ProcessMessage31(MessageRpc&
        rpc)\u000d\u000a   at System.ServiceModel.Dispatcher.MessageRpc.Process(Boolean
        isOperationContextSet)","ObjectName":"Entity"}'
  recorded_at: Thu, 25 Sep 2014 12:12:47 GMT
[...]
- request:
    method: put
    uri: https://ccdemopim.sredda.ru:5443/authentication/user/siebel/UAS100173/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Sep 2014 12:12:57 GMT
- request:
    method: post
    uri: https://ccdemopim.sredda.ru:5443/authentication/user/login/
    body:
      encoding: UTF-8
      string: '{"login":"+77441111111","password":"180"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"Token\":\"a4FmfMfU\\/NmesfVhLw7Diqsrf3xD\\/AtZoXBZJXZXmEiGHD4V4A35+gWh0nj5QYGT56YcViOqqyUJGIVcbYfBGLx1wbZ8kOeAp3xPMQRi+ElTo1sV3eCJB3AFdQytmmuE+bqwmc16mlIqCx1B83gVsg==|2014-09-30T15:57:35\",\"User\":{\"FirstName\":\"Ð\x9EÐ»Ñ\x8CÐ³Ð°\",\"LastName\":\"Ð\x91Ð°Ñ\x82Ñ\x83Ñ\x80Ð¸Ð½Ð°\",\"Login\":\"+77441111111\",\"UserId\":\"UAS100173\",\"UserNativeId\":\"1-1WMYU0\",\"UserSysName\":\"siebel\"}}"
  recorded_at: Thu, 25 Sep 2014 12:13:03 GMT
- request:
    method: post
    uri: https://ccdemopim.sredda.ru:5443/authentication/user/token/
    body:
      encoding: UTF-8
      string: '{"token":"a4FmfMfU/NmesfVhLw7Diqsrf3xD/AtZoXBZJXZXmEiGHD4V4A35+gWh0nj5QYGT56YcViOqqyUJGIVcbYfBGLx1wbZ8kOeAp3xPMQRi+ElTo1sV3eCJB3AFdQytmmuE+bqwmc16mlIqCx1B83gVsg==|2014-09-30T15:57:35"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"FirstName":"Ольга","LastName":"Батурина","Login":"+77441111111","UserId":"UAS100173","UserNativeId":"1-1WMYU0","UserSysName":"siebel"}'
  recorded_at: Tue, 30 Sep 2014 14:34:58 GMT
- request:
    method: post
    uri: https://400004:cArt123QWE123@cart-delo.sredda.ru:5443/api/orders
    body:
      encoding: UTF-8
      string: '{"UserId":"UAS100173","SuccessUrl":"http://127.0.0.1:60490/access_purchases/12/processed","ErrorUrl":"http://127.0.0.1:60490/access_purchases/12/processed","Offerings":[{"Offering":{"OfferingId":"3000319","OfferingPriceId":"3000329","ClientKey":"UAS100173","Characteristics":[]},"ArticleUrl":"http://market.yandex.ru/model-spec.xml?modelid=10890865\u0026hid=6427100","ArticleId":null,"SerializedOffering":null,"ProductsForUpdate":null,"MerchantId":null,"Promocode":null}],"Options":3,"ChoosePayer":true,"Promocode":null,"PayerCompanyId":null,"SellerCompanyId":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://cart-delo.sredda.ru/api/orders/20139
    body:
      encoding: UTF-8
      string: '{"OrderId":20139,"TargetUrl":"http://payment-delo.sredda.ru:8081/Payment/Credentials?PaymentID=7ff2c703-3eec-4d72-ac20-adbaa6b76dd2"}'
  recorded_at: Tue, 30 Sep 2014 16:24:48 GMT
[...]
- request:
    method: post
    uri: http://payment-delo.sredda.ru:8081/Payment/Credentials?PaymentID=c73bb0e5-6b78-4370-bd78-e6c48b042847
    body:
      encoding: UTF-8
      string: PaymentType=acquiring&Receipt.FIO=user_first_name+user_last_name&Receipt.Address=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://payment-delo.sredda.ru:8081/acquiring/Register/c73bb0e5-6b78-4370-bd78-e6c48b042847
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"/acquiring/Register/c73bb0e5-6b78-4370-bd78-e6c48b042847\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Tue, 14 Oct 2014 07:52:15 GMT
- request:
    method: get
    uri: https://400004:cArt123QWE123@cart-delo.sredda.ru:5443/api/orders/20165
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"OrderId":20165,"CreatedDate":"2014-10-14T10:52:25.293","OrderStatus":2,"LastEditedDate":"2014-10-14T10:52:29.583","Amount":2160.00000,"CompanyId":null,"UserId":"UAS100173"}'
  recorded_at: Tue, 14 Oct 2014 09:08:25 GMT
[...]
- request:
    method: get
    uri: https://400004:cArt123QWE123@cart-delo.sredda.ru:5443/api/orders/20169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"OrderId":20169,"CreatedDate":"2014-10-15T13:37:49.967","OrderStatus":2,"LastEditedDate":"2014-10-15T13:37:54.34","Amount":2400.00000,"CompanyId":null,"UserId":"UAS100173"}'
  recorded_at: Wed, 15 Oct 2014 09:34:20 GMT
recorded_with: VCR 2.9.2
