<div class="step step-4" id="select_payment">
  <h3 class="title">Выберите вариант подписки</h3>
  <h3 class="title highlight error_messages"></h3>
  <% RegistrationOffering.as_hash.each do |e| -%>
    <p><%= "#{e[:amount]} руб."%> 
       <%= link_to(e[:text], 
           access_purchases_path(code: e[:code]),
           {
             method: :post, remote: true, class: 'btn btn-warning select_payment_link' 
           }
         )
       %>
    </p>
  <% end -%>
</div>
