<div class="date"><span class="name"><%= topic.author.siebel.full_name %></span> <small><%=l topic.created_at, format: :long %></small></div>
<div class="wrapper">
  <%= paragraphs topic.text %>
</div>