<div id="widget_<%= topic.id %>"></div>
<script type="text/javascript">
  var widgetOptions = {
    id: <%= topic.id %>,
    domain: 'delo-widgets-dev.sredda.ru:8082',
    path: '/purchases/show',
    params: {
      topic_id: <%= topic.id %>
    }
  };
  createWidget('widget_<%= topic.id %>', widgetOptions);
</script>