p= l @registration.created_at || Time.now, format: :long

h1 Регистрация клиента

p Телефон: #{@registration.phone}
p ОГРН: #{@registration.ogrn || 'не найдено'}
p ИНН: #{@registration.inn || 'не найдено'}
p Название: #{@registration.name || 'не найдено'}
p Статус: #{t "registrations.workflow_states.#{@registration.workflow_state}"}