| #{notification.object.user.siebel.full_name} написал "#{truncate(notification.object.text, length: 17, separator: ' ')}" 
| в топик "#{truncate(notification.object.topic.text, length: 10, separator: ' ')}"