| #{notification.object.user.siebel.full_name} отредактировал сообщение "#{truncate(notification.object.text, length: 17, separator: ' ')}" 
| в топике "#{truncate(notification.object.topic.text, length: 10, separator: ' ')}"