<div class="scroll-item">
    <%= render partial: "notifications/#{notification.name}", object: notification, as: :notification %>
  <div class="date"><%=l notification.created_at.to_date, format: :long %></div>
</div>
