<section class="case-lead">
  <div class="globalwidth">
    <div class="content">
      <div class="board">
        <div class="info">
          <ul>
            <li>подготовим налоговую отчетность,</li>
            <li>предоставим информацию по приходу и расходу</li>
            <li>осуществим операции по р/с и платежи.</li>
          </ul>
        </div>
      </div>
      <div class="movie">
        <div class="crop">
          <iframe width="320" height="180" src="http://youtube.com/embed/YAasgDBM6Es" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="region1">
  <section class="case-guide">
    <div class="globalwidth">
      <div class="content">
        <h2>Как это работает??</h2>
        <div class="step step-lt step1">
          <div class="info">
            <h3>Вы регистрируетесь на сайте</h3>
            <div class="descript">Для регистрации на сайте заполните поля и после процесса верификации подтвердите
правильность введенных Вами данных.</div>
          </div>
        </div>
        <div class="step step-rt step2">
          <div class="info">
            <h3>Оплачиваете обслуживание</h3>
            <div class="descript">Вы можете выбрать два варианта бух. обслуживания. На три месяца и на год. Оплачивая
обслуживание на год вы экономите сумму, эквивалентную трём месяцам обслуживания.</div>
          </div>
        </div>
        <div class="step step-lt step3">
          <div class="info">
            <h3>Загружает необходимые документы</h3>
            <div class="descript">После того, как вы оплатили вы попадаете в личный кабинет для общения с бухгалтером.
В нужное время наш бухгалтер попросит вас загрузить необходимые документы. Для 
этого Вы получите СМС уведомление.</div>
          </div>
        </div>
        <div class="step step-rt step4">
          <div class="info">
            <h3>Налоговая отчетность сдана</h3>
            <div class="descript">Наш бухгалтер готовит и сдает Вашу отчетность. После того, как отчетность будет сдана
Вы получаете СМС уведомление.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="case-tariff">
  <div class="globalwidth">
    <div class="content">
      <h2>Доступные тарифы</h2>
      <div class="items">
        <div class="item item1">
          <h3>Тариф Квартал</h3>
          <div class="info">
            <div class="graph">
              <div class="circle">
                <div class="cost">
                  <p class="price">2400р.</p>
                  <p class="period">за 3 месяца</p>
                </div>
              </div>
              <div class="per"><b>*800р.</b> в месяц</div>
            </div>
            <div class="descript">
              <p>Тариф включает в себя бухгалтерское обслуживание, в том числе подготовку и сдачу отчетности, в течение одного квартала для ИП на ЕНВД, УСН или Патентной системе налогообложения.</p>
<p>Для ИП на режиме УСН 6% в тариф включается обработка (создание) не более 5 документов в месяц. В случае обработки (создания) свыше 5 (пяти) документов в течение календарного месяца каждый последующий документ оплачивается дополнительно в соответствии с Договором.</p>
            </div>
          </div>
        </div>
        <div class="item item2">
          <h3>Тариф Год</h3>
          <div class="info">
            <div class="graph">
              <div class="circle">
                <div class="cost">
                  <p class="price">7200р.</p>
                  <p class="period">всего за год</p>
                </div>
              </div>
              <div class="per"><b>*600р.</b> в месяц</div>
            </div>
            <div class="descript">
              <p>Тариф включает в себя бухгалтерское обслуживание, в том числе подготовку и сдачу отчетности,  в течение года для ИП на ЕНВД, УСН или Патентной системе налогообложения.</p>
<p>Для ИП на режиме УСН 6% в тариф включается обработка (создание) не более 5 документов в месяц. В случае обработки (создания) свыше 5 (пяти) документов в течение календарного месяца каждый последующий документ оплачивается дополнительно в соответствии с Договором.</p>
              <div class="econom"><b>Ваша экономия</b> — 25%</div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<div class="region2">
  <section class="case-regin">
    <div class="globalwidth">
      <div class="content">
        <h3>Чтобы приобрести тариф, пройдите регистрацию.</h3>
        <div class="btn-group">
          <a class="btn-orn btn-left btn135 reg">Регистрация</a>
          <a class="btn-grn btn-right btn125 enter">Войти</a>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: "feedback/form" %>
</div>
