#confirmation
  h1 Форма подтверждения данных о компании
  dl
    dt Название
    dd
      span.name
  dl
    dt Регион
    dd
      span.region
  dl
    dt ИНН
    dd
      span.inn
  dl
    dt ОГРН
    dd
      span.ogrn

  a.cancel(href='#') Отмена
  = link_to 'Подтвердить', registration_confirm_path(:registration_id), method: :post, remote: true, class: 'confirm'