<section class="case-intro">
  <div class="globalwidth">
    <div class="container" style="background-image:url(/legko-bs/images/intro1_bg1.jpg);">
      <div class="info">
        <h2>Мы станем вашим личным бухгалтером!</h2>
        <div class="ttl active" data-fl="regi_fl">Регистрация</div>
        <div class="ttl last" data-fl="enter_fl">Вход</div>
        
        <!-- Регистраци здесь -->
        <div class="forms">
          <form method="post" action="">
            <table width="270" class="tb_fields">
              <tr class="regi_fl">
                <td>
                  <div class="border">
                    <table width="100%">
                      <tr>
                        <td class="pl20"><label id="switch_status">Я являюсь ИП</label></td>
                        <td width="66">
                          <div class="switcher js__switcher">
                            <a href="#" class="s_checkbox js__s_checkbox js__s_left">
                              <span id="switch_btn1" class="js__s_active"></span>
                              <span id="switch_btn2" class="js__s_noactive"></span>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              
              <tr id="switch_field" class="regi_fl">
                <td>
                  <div class="field"><input class="ogrn" type="text" placeholder="Введите ОГРН" /></div>
                </td>
              </tr>
              <tr class="regi_fl">
                <td>
                  <div class="field"><input class="phone" type="text" placeholder="Введите телефон" /></div>
                </td>
              </tr>
              <tr class="regi_fl">
                <td>
                  <div class="btn-group">
                    <button class="btn-grn btn-right btn125" type="submit">Зарегистрироваться</button>
                  </div>
                  <div class="link-group legal-link">
                    Регистрируясь, вы соглашаетесь с <a href="#">Условиями использования</a> и <a href="#">Политикой конфиденциальности</a>
                  </div>
                </td>
              </tr>
            </table>
          </form>
          
          <!-- Вход здесь -->
          <form method="post" action="">
            <table width="270" class="tb_fields">
              <tr class="enter_fl">
                <td>
                  <div class="field"><input class="phone" type="text" placeholder="Введите телефон" /></div>
                </td>
              </tr>
              <tr class="enter_fl">
                <td>
                  <div class="field"><input type="password" placeholder="Введите пароль" /></div>
                </td>
              </tr>
              <tr class="enter_fl">
                <td class="right">
                  <div class="btn-group">
                    <button class="btn-grn btn-right btn125" type="submit">Войти</button>
                  </div>
                  <div class="link-group legal-link">
                    <a href="#">Напомнить пароль</a>
                  </div>
                </td>
              </tr>
            </table>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
