div id="not_found" style=(visible ? "" : "display:none;")
  h1 Компания не найдена
  p Компания с указанным Вами ОГРНИП не найдена. Вернитесь на предыдущий шаг и укажите корректный ОГРНИП.
  a.back(href='#') Вернуться
