div id="not_found" style=(visible ? "" : "display:none;")
  h1 Компания не найдена
  p Компания с указанным Вами ОГРН не найдена. Вернитесь на предыдущий шаг и укажите корректный ОГРН.
  a.back(href='#') Вернуться
