<div class="step step-3" id="verify_phone">
  <h3 class="title">Введите код подтверждения, который был выслан на ваш<br> номер телефона</h3>
  <h3 class="title highlight error_messages"></h3>

  <%= form_tag registration_verify_phone_path(:registration_id), method: :post, remote: true do %>
    <div class="step-form code">
      <%= text_field_tag :sms_verification_code, '', placeholder: 'Введите код подтверждения', id: 'registration_sms_verification_code', class: 'form-control' %>
    </div>

    <p>
      Сообщение не пришло.
      <%= link_to 'Отправить еще раз', registration_regenerate_sms_verification_code_path(:registration_id), method: :post, remote: true, class: 'regenerate_sms_verification_code' %>
    </p>

    <div class="step-form">
      <%= submit_tag 'Продолжить', class: 'button' %>
    </div>
  <% end %>
</div>