<div id="js-attachment-id-<%= @attachment.id %>" class="file_item">
  <%= link_to @attachment.attachment.file.filename, @attachment.attachment.url, target: '_blank', class: 'ico' %>
  <%= link_to '', @attachment, method: :delete, remote: true, class: 'delete_link'  %>
</div>