<div class='promo'>
<h1>Мы избавим вас от рутины за 600 рублей в месяц!</h1>

<ul>
  <li>• подготовим налоговую отчетность,</li>
  <li>• предоставим информацию по приходу и расходу,</li>
  <li>• осуществим операции по р/с и платежи.</li>
</ul>
</div>