<div class="jumbotron j-messages">

  <div id="js-topic">

    <div class="messages js-topic" >

        <div class="addcomment js-new-message">
          <%= render partial: 'chat/form', object: @new_message, as: :new_message %>
        </div>

        <div class="reply js-messages">
          <%= render partial: 'chat/message', collection: @messages, locals: { total_size: @messages.size } %>
        </div>

    </div>
  </div>
</div>
