<h2>Сообщения</h2>
<div class="messages" id="js-messages">
  <%= render partial: 'chat/form', object: @new_message, as: :new_message %>

  <%= render partial: 'chat/message', collection: @messages, locals: { total_size: @messages.size } %>

  <%= render 'update_messages' %>
</div>
