<div id="topic-id-<%= topic.id %>" class="row m-t">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <section class="panel text-center">
      <div class="panel-body">
        <%= render partial: "concierge/topics/topic_#{topic.widget_type || 'default'}", object: topic, as: :topic %>
      </div>
    </section>
    <!-- .comment-list -->
    <section class="comment-list block">
      <div class='messages'>
        <%= render partial: 'messages/message', collection: topic.messages %>
      </div>
      <%= render partial: 'messages/form', object: topic.messages.build, as: :message %>
    </section>
    <!-- / .comment-list -->
  </div>
  <div class="col-lg-2"></div>
</div>