<footer class="page-footer">
  <div class="globalwidth">
    <div class="content">
      <div class="info">
        <div class="cols">
          <div class="col1">
            <a class="logo" href="index.html"></a>
            <div class="copyright">© 2014 ЗАО «Деловая среда»</div>
          </div>
          <div class="col2">
            <div class="contact">
              <p>+7-800-100-90-80</p>
              <p>support@dasreda.ru</p>
            </div>
          </div>
          <div class="col3">
            <nav class="bm">
              <ul>
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Регистрация</a></li>
                <li><a href="#">База знаний</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
