<footer class="page-footer">
  <div class="globalwidth">
    <div class="content">
      <div class="info">
        <div class="cols">
          <div class="col1">
            <a class="logo" href="/"></a>
            <div class="copyright">© 2014 ЗАО «Деловая среда»</div>
          </div>
          <div class="col2">
            <div class="contact">
              <p>+7-800-100-90-80</p>
              <p>support@dasreda.ru</p>
            </div>
          </div>
          <div class="col3">
            <nav class="bm">
              <ul>
                <li><%= link_to "Как это работает", '#', class: "js-gotoHowItWorks"       %></li>
                <li><%= link_to "Тариф",            '#', class: "js-gotoTariffs"          %></li>
                <li><%= link_to "Регистрация",      '#', class: "js-gotoLoginForm"        %></li>
                <li><%= link_to "Войти",            '#', class: "js-gotoRegistrationForm" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
