<style>
  #development_panel {
    z-index:1000; 
    position:fixed; 
    right:0px; 
    background-color:#A0A; 
    width:318px; 
    opacity:0.8; 
    font-size:0.8em; 
    padding:5px;
    margin:1px;
    border-radius:4px;
  }
  #development_panel h1{
    color:#a0a;
    background-color:#CCC; 
    text-align: center;
    font-size:1.4em; 
    margin-top: 0px;
  }
#development_panel a {
    color: #ddd;
  }
</style>
<div id="development_panel">
  <h1>DevelopmentPanel</h1>
  <ul>
  </ul>
</div>
