<div class="alert alert-danger">
  <i class="icon-ban-circle icon-large"></i><strong>Ошибка!</strong>
  <% target.errors.messages.each do |attribute, messages| %>
    <div>
      <strong><%= t "activerecord.attributes.#{target.class.name.singularize.underscore}.#{attribute}"%></strong> 
      <%= messages.join(', ') %>
    </div>
  <% end %>
</div>