<!-- Modal -->
<div class="modal fade js-Dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="js-modal-content">
        <p>я подтвержаю правильность<br />введеных данных</p>
      </div>
      <div class="btn-group">
        <button class="btn-grn btn-left btn125" data-dismiss="modal">Ќазад</button>
        <button class="btn-orn btn-right btn125" data-dismiss="modal">ƒа</button>
      </div>
    </div>
  </div>
</div>
