<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <p>я подтвержаю правильность<br />введеных данных</p>
      <div class="btn-group">
        <button class="btn-grn btn-left btn125" data-dismiss="modal">Ќазад</button>
        <button class="btn-orn btn-right btn125" data-dismiss="modal">ƒа</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
      </div>
      12345566777
      <button class="btn-grn btn-right btn125" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>
