/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
.contacts { display: none; }

.pre_registration_input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 175px;
  padding: 10px 0;
  margin: 0 5px;
  font-family: 'Gotham Pro Medium';
  color: #2a2e3a;
  font-size: 16px;
  text-decoration: none;
  background: #fff;
  background: rgba(255,255,255,.7);
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  text-align: center;
}

.j-signin {
  position: relative;
  min-height: 510px;
  background: url('/legko-bs/images/crazy-bg.jpg') no-repeat -1920px 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #2a2e3a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #2a2e3a;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #2a2e3a;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #2a2e3a;
}

pre_registration_input {
   -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

#ogrn-tooltip {
  display: inline-block;
  position: relative;
  top: 9px;
  left: -60px;
  font-size: 16px;
}